* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(255, 92, 217);
  background-image: url("sparkle.gif");
  overflow: hidden;
}

section {
  width: 100%;
  height: 100vh;
  background-image: url("sparkle.gif");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 254, 255);
  border: rgb(255, 92, 217) 10px dotted;
  min-width: 500px;
  min-height: 600px;
}

img {
  width: 350px;
  height: 350px;
}

h1 {
  color: rgb(255, 92, 217);
  text-shadow: -4px 0px 0px rgb(255, 195, 241), 4px 0px 0px rgb(255, 195, 241), 0px 4px 0px rgb(255, 195, 241), -0px -4px 0px rgb(255, 195, 241);
  font-size: 2.4rem;
}

.btn-box {
  position: relative;
  width: 350px;
  display: flex;
  justify-content: space-around;
}

button {
  width: 100px;
  height: 30px;
  font-weight: bolder;
  color: white;
  background-color: rgb(255, 162, 233);
  border: rgb(255, 92, 217) 3px solid;
}

button:hover {
  background-color: rgb(255, 92, 217);
}
